@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

body, html {
  margin: 0;
  padding: 0;
}
body * {
  font-family: 'Arial', 'Open Sans', sans-serif;
  color: #3C4A59;
}
a {
  text-decoration: none;
}
h1 a {
  color: #333333;
}
h1.logo, h1 a.logo {
	background-image: url('logo-h.png');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100px;
	width: 240px;
}
h1 span {
	display: none;
}
.container {
  margin: 0 auto;
  display: block;
  width: 1000px;
}
code.hljs {
	padding-left: 48px;
	padding-right: 24px;
	padding-bottom: 48px;
	padding-top: 24px;
}
ul {
	list-style: none;
}
ul.nav-items {
	display: flex;
}
ul.nav-items li {
	width: 160px;
	display: inline-block;
	margin: 8px;
	text-align: center;
}
.box-thumb {
	width: 160px;
	height: 160px;
	margin-bottom: 8px;
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.box-thumb.bar {
	background-image: url('charts/bar.png');
}
.box-thumb.line {
	background-image: url('charts/line.png');
}
.box-thumb.donut {
	background-image: url('charts/donut.png');
}
.box-thumb.pie {
	background-image: url('charts/pie.png');
}
.box-thumb.scatterplot {
	background-image: url('charts/scatterplot.png');
}