@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body, html {
  margin: 0;
  padding: 0;
}
body * {
  font-family: 'Arial', 'Open Sans', sans-serif;
  color: #3C4A59;
}

h1, h2, h3, h4, h5 {
  /* width: 80%; */
  border-bottom: solid #1297E0 2px;
  padding-bottom: 16px;
}

h1, h2, h3, h4, h5, 
h1 *, h2 *, h3 *, h4 *{
	font-family: 'Lexend Deca', sans-serif;
}
a {
  text-decoration: none;
  font-family: 'Lexend Deca', sans-serif;
}
h1 a {
  color: #333333;
}
h1.logo, h1 a.logo {
	background-image: url('logo-h.png');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100px;
	width: 240px;
}
h1 span {
	display: none;
}
.container {
  margin: 0 auto;
  display: block;
  width: 1000px;
}
code.hljs {
	padding-left: 48px;
	padding-right: 24px;
	padding-bottom: 48px;
	padding-top: 24px;
}
ul {
	list-style: none;
}
ul.nav-items {
	display: block;
	margin: 0 auto;
	text-align: center;
}
ul.nav-items li {
	width: 240px;
	display: inline-block;
	margin: 8px;
	margin-bottom: 24px;
	text-align: center;
}
.box-thumb {
	width: 240px;
	height: 160px;
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.box-thumb.bar {
	background-image: url('charts/bar.png');
}
.box-thumb.bar-horizontal {
	background-image: url('charts/bar-horizontal.png');
}
.box-thumb.line {
	background-image: url('charts/line.png');
}
.box-thumb.donut {
	background-image: url('charts/donut.png');
}
.box-thumb.pie {
	background-image: url('charts/pie.png');
}
.box-thumb.scatterplot {
	background-image: url('charts/scatterplot.png');
}

ul.nav-items-scales {
	display: block;
}

.type-scale {
	margin: 32px auto;
}

.type-scale .box-thumb-scale {
	width: 890px;
	height: 68px;
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
}

.type-scale .box-thumb-scale.linear {
	background-image: url('scales/scale-linear.jpg');
}
.type-scale .box-thumb-scale.band {
	background-image: url('scales/scale-band.png');
}
.type-scale .box-thumb-scale.log {
	background-image: url('scales/scale-log.png');
}
.type-scale .box-thumb-scale.ordinal {
	background-image: url('scales/scale-ordinal.png');
}
.type-scale .box-thumb-scale.pow {
	background-image: url('scales/scale-pow.png');
}
.type-scale .box-thumb-scale.sqrt {
	background-image: url('scales/scale-sqrt.png');
}
.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
  color: #CA2C68 !important;
}