@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

body, html {
  margin: 0;
  padding: 0;
}

body * {
  font-family: 'Open Sans', sans-serif;
  color: #3C4A59;
}

a {
  text-decoration: none;
}

h1 a {
  color: #9CAAB9;
}

.container {
  margin: 0 auto;
  display: block;
  width: 1000px;
}